@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.nav_items{
    display: flex;
    justify-content: space-around;
}
.nav_items li{
    margin-left: 10px;
    list-style: none;
    text-decoration: none;
}